[data-theme="vs"] {
    .tab-area {
        background: #42424d !important;
        color: #ffffff !important;
    }

    .bg-dark {
        background: #2c2c32 !important;
    }

    .btn-dark {
        color: #ffffff !important;
        background-color: #42424d !important;
        border-color: #42424d !important;
    }

    .toggler {
        background-color: #42424d !important;
        border-color: #42424d !important;
    }

    a.article {
        background: #2c2c32 !important;
        color: #ffffff !important;
        &:hover {
            background: #42424d !important;
            color: #ffffff !important;
        }
    }

    .nav-tabs {
        .nav-link {
            color: #eeeeee !important;
            border-left: 1px solid #42424a;
            background: #575765 !important;
            &.social {
                border-color: #575765 !important;
                background: #575765 !important;
            }
            &.active, {
                color: #ffffff !important;
                border-color: #2c2c32 !important;
                background: #2c2c32 !important;
            }
        }
    }

    .gutter {
        background-color: #42424d !important;
        background-repeat: no-repeat !important;
        background-position: 50% !important;
    }

    .backdrop {
        background: rgba(255, 255, 255, 0.8) !important;
    }

    .modal-dialog {
        background: #2c2c32 !important;

        .modal-content {
            background: #2c2c32 !important;
        }
    }
    .modal-content .form-control:disabled, .modal-content .form-control[readonly] {
        background-color: #eeeeee !important;
        color: #000000 !important;
        border: none !important;
    }
    .input-group-append .input-group-text {
        background-color: #eeeeee !important;
        border-color: #2c2c32 !important;
    }
    .text-warning {
        color: #ffffff !important;
    }
    .close {
        color: #ffffff !important;
    }
    .green {
        color: #008000 !important;
    }
    #copy-icon {
        color: #aaaaaa !important;
    }
    #sidebar {
        background: #2c2c32 !important;
        color: #eeeeee !important;

        .sidebar-header {
            background: #2c2c32 !important;
            color: #eeeeee !important;
        }

        ul li a:hover {
            color: #ffffff !important;
            background: #42424d !important;
        }

        ul.components {
            border-bottom: 1px solid #2c2c32 !important;
        }
    }

    #code-executor {
        background: #eeeeee !important;
    }
}