@import 'variables';
@import '~bootstrap/scss/bootstrap';

@import 'base';
@import 'navigation';
@import 'notifications';
@import 'sidebar';
@import 'splitter';

@import 'mediaqueries';

#content {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

#code-editor {
    height: 100%;
}

#code-executor {
    height: 100%;
    width: 100%;
    border: none;
    background: #222222;
}

#linked {
    display: none;
}