nav#sidebar(x-show='sidebar.expanded' x-transition)
    .sidebar-header.d-flex.flex-row.align-items-center
        img#logo(src='assets/code.png' class='img-fluid')
        h3.ml-3 Monaco Sandbox
    ul.list-unstyled.components
        li
            a(href='https://microsoft.github.io/monaco-editor/api/index.html') Monaco API
        li
            a(href='https://microsoft.github.io/monaco-editor/playground.html') Monaco Playground
    ul.list-unstyled.subsection
        li
            button#save-code.btn.btn-dark.w-100
                | Get Share Link
                i.ml-2.fas.fa-link
        li
            a.article.mt-3(href='https://github.com/chrisrowles') Built with ❤️ by CR