#shareable.modal(tabindex='-1' aria-hidden='true')
    .modal-dialog.mt-10
        .modal-content
            .modal-header
                h5.modal-title Share your code!
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                .form-group
                    label(for='shareable-link') Your link
                    .input-group
                        input#shareable-link.form-control(type='text' readonly value aria-describedby='link-help')
                        .input-group-append#copy-button
                            span.input-group-text
                                i#copy-icon.fa.fa-clipboard
                    small#link-help.form-text.text-warning.mt-2 Please note, anybody with this link will be able to see your code.