.tab-area
    button.btn.btn-sm.btn-dark.border-0.rounded-0.px-4(@click='collapse()')
        i.fas.fa-bars
    ul#lang-tabs.nav.nav-tabs.p-0.rounded-0.mr-auto
        li.nav-item
            a.nav-link.active(href='#' data-lang='html') HTML
        li.nav-item
            a.nav-link(href='#' data-lang='css') CSS
        li.nav-item
            a.nav-link(href='#' data-lang='javascript') JS
    ul.nav.nav-tabs.p-0.ml-auto
        li.nav-link.social.border-0
            a(href='https://github.com/chrisrowles/monaco-sandbox')
                i.fab.fa-github